    <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
  </div>
          <footer class="footer ">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                >Copyright © 2020
                <a href="/" target="_blank"
                  >Red Belt Academy</a
                >. All rights reserved.</span
              >
              <span
                class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
                >Hand-crafted by Abdemirza <br> Contact : abdemirza@gmail.com
               </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../dist/bundle.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/jquery.challonge.js"></script>
    <script src="/js/vendor/vendor.bundle.base.js"></script>
    <script src="/js/vendor/vendor.bundle.addons.js"></script>
    <script src="/js/brackets.js"></script>
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/wizard.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    
  
    <!-- endinject -->
    <!-- Custom js for this page-->
    
    <!-- End custom js for this page-->
  </body>
</html>
