<header
  class="header-area formobile-menu header--transparent black-logo-version navbar-light"
>
  <div class="header-wrapper" id="header-wrapper">
    <div class="header-left">
      <div class="logo-container">
        <a href="/">
          <!-- Put the Logo here -->
          <img src="/images/logo/redBeltSmall.png" alt="Red Belt logo" />
        </a>
      </div>
    </div>
    <div class="header-right">
      <div class="mainmenunav d-lg-block">
        <!-- Start Mainmanu Nav -->
        <nav class="main-menu-navbar">
          <ul class="mainmenu">
            <li class="has-dropdown">
              <a href="/">Home</a>
            </li>
            <li class="has-dropdown">
              <a href="#services" class="smoth-animation">Log In/Sign Up</a>
            </li>
            <li class="has-dropdown">
              <a href="#services" class="smoth-animation">Services</a>
            </li>
            <li>
              <a href="#about" class="smoth-animation">About</a>
            </li>

            <li>
              <a href="#contact" class="smoth-animation">Contact Us</a>
            </li>
          </ul>
        </nav>
        <!-- End Mainmanu Nav -->
      </div>

      <!-- Start Humberger Menu  -->
      <div class="humberger-menu d-block d-lg-none pl--20">
        <span class="menutrigger text-white">
          <i data-feather="menu"></i>
        </span>
      </div>
      <!-- End Humberger Menu  -->
      <!-- Start Close Menu  -->
      <div class="close-menu d-block d-lg-none">
        <span class="closeTrigger">
          <i data-feather="x"></i>
        </span>
      </div>
      <!-- End Close Menu  -->
    </div>
  </div>
</header>
