<div
  class="breadcrumb-area rn-bg-color ptb--120 bg_image bg_image--1"
  data-black-overlay="6"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-inner pt--100 pt_sm--40 pt_md--50">
          <h2 class="title">Help Section</h2>
          <ul class="page-list">
            <li><a href="/">Home</a></li>
            <li class="current-page">Help Section</li>
          </ul>
          <ul class="page-list">
            <li><a style="color: aqua;" href="/dashboard">Go to Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<main class="page-wrapper">
  <!-- Start List Style  -->
  <div class="rn-list-style rn-section-gap bg_color--1">
    <div class="container">
      <div class="row">
        <!-- Start Single List Style  -->
        <div class="col-lg-12 col-md-6 col-12 text">
          <div class="list-style-inner">
            <h3 class="fontWeight500">Video Links</h3>
            <p>Click on the links to watch the tutorials</p>
            <ul class="list-style--1">
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a
                  class="text-primary"
                  href="
                                https://youtu.be/kXP4ZWDhT88"
                  >How to sign up to compete in a tournament ?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a
                  class="text-primary"
                  href="
                  https://youtu.be/0xc7kgC5wxE"
                  >Where to fill club information ?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a
                  class="text-primary"
                  href="
                  https://youtu.be/iz3kkQJyQc4"
                  >How to create Multiple Contestants using a single account?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a
                  class="text-primary"
                  href="
                  https://youtu.be/UQ8FU-o8ndI"
                  >How to join a tournament?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a
                  class="text-primary"
                  href="
                  https://youtu.be/seAFwPtQdy8"
                  >How to check tournament rules?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a
                  class="text-primary"
                  href="
                  https://youtu.be/-AQinhrcPdg"
                  >How to checkout the match stats ?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a
                  class="text-primary"
                  href="
                  https://youtu.be/URWHE4tApKs"
                  >How to know if you are in "BYE" ?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a class="text-primary" href="https://youtu.be/k-N1NZMMwMU"
                  >How to create a youtube link?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a class="text-primary" href="https://youtu.be/RRuoImKWL4Y"
                  >How to submit your video link?</a
                >
              </li>
              <li>
                <i class="far fa-lightbulb display mr-2"></i>
                <a href="https://youtu.be/WmW43-yAcOI" class="text-primary"
                  >How to Sign Up as a Judge ?</a
                >
              </li>
              <li>
                  <i class="far fa-lightbulb display mr-2"></i>
                <a href="https://youtu.be/DwjnOP-o12s" class="text-primary"
                  >How to Judge Contestants?</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- End Single List Style  -->

        <!-- Start Single List Style  -->

        <!-- End Single List Style  -->
      </div>
    </div>
  </div>
  <!-- End List Style  -->
</main>
<footer class="footer-area footer-default">
    <div class="footer-wrapper">
      <div class="row align-items-end row--0">
        <div class="col-lg-6">
          <div class="footer-left">
            <div class="inner">
              <span>Ready To Do This</span>
              <h2>
                Let's get <br />
                to work
              </h2>
             
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer-right" data-black-overlay="6">
            <div class="row">
              <!-- Start Single Widget -->
              <!-- Start Single Widget -->
              <div class="col-lg-12 col-sm-6 col-12 mt_mobile--30">
                <div class="footer-widget">
                  <h4>Say Hello</h4>
                  <ul class="ft-link">
                    <li>
                      <i class="fas fa-at mr-2" style="color:ivory"></i>
                      <a href="mailto:redbeltacademy@gmail.com">redbeltacademy@gmail.com</a>
                    </li>
                    <li>
                      <i class="fas fa-map-marker-alt mr-2" style="color: ivory;"></i>
                     <a href="http://" target="_blank" rel="noopener noreferrer">70/59, First Floor, Rani Mandi, Chowk, Prayagraj. Uttar Pradesh. 211003</a>
                    </li>
                    <li>
                      <i class="fas fa-mobile mr-2" style="color: ivory;"></i>
                      <a href="http://" target="_blank" rel="noopener noreferrer">+91 7897299014</a>
                     </li>
                  </ul>

                  <div class="social-share-inner">
                    <ul
                      class="social-share social-style--2 d-flex justify-content-start liststyle mt--15"
                    >
                      <li>
                        <a href="https://www.facebook.com/RedBeltAcademy/"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/academyredbelt/"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                      </li>
                    </ul>
                  </div>
                  <ul class="ft-link mt-3">
                    <li >
                      <a href="/termsandconditions" style="color: aqua;">terms & conditions</a>
                    </li>
                    <li >
                        <a href="/privacypolicy" style="color: aqua;">Privacy Policy</a>
                    </li>
                    <li >
                      <a href="/help" style="color: aqua;">Help</a>
                  </li>
                  </ul>
                </div>
              </div>
              <!-- End Single Widget  -->

              <div class="col-lg-12">
                <div class="copyright-text">
                  <% date=new Date() %>
                  <p class="small text-gray-600 text-center text-sm-left">
                    <%= date.getFullYear() %> Designed by Abdemirza . All rights
                    reserved . <br />
                 <a style="color: ivory;" href="https://api.whatsapp.com/send?phone=919125884058"><i class="fab fa-whatsapp mr-2 fa-lg"></i>Get in touch on Whatsapp</a> <br>
                 <a style="color: ivory;"  href="mailto:abdemirza@gmail.com"><i class="far fa-envelope mr-2 fa-lg"></i>Drop an email </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
