<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Login</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/font/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/css/vendor/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/css/vendor/vendor.bundle.addons.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styleDashboard.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
  </head>

  <body class="sidebar-dark">
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row wl-100">
            <div class="col-lg-4 mx-auto ">
              <div class="auth-form-light text-left p-5" style="background-color: #8EC5FC;
              background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); color: black;
              ">
                <div class="brand-logo img-sm" style="margin: 25px auto">
                  <img src="/images/icons/loginIcon.png" alt="logo">
                </div>
                <div class="text-center">
                <h4 class="font-weight-bold">Hello! <%= name %></h4>
                </div>
                <%- include('./partials/messages.ejs') %> 
                <form class="pt-3 " action="/users/resetPassword/<%= userId %>" method='POST'>
                  <div class="form-group m-0">
                    <input type="password" class="form-group" id="password" name='password' class="form-control form-control-lg" id="exampleInputEmail1" placeholder="New Password">
                  </div>
                  <div class="form-group m-0">
                    <input type="password" class="form-group" id="confirm_password" name='cpassword' class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Confirm Password">
                  </div>
                  <div class="mt-0">
                    <button class="btn btn-block btn-primary" >  <i class="fas fa-share-square"></i> RESET PASSWORD</button>
                  </div>
                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
               
                  <div class="text-center mt-4 font-weight-light">
                    Don't have an account? <a href="/users/register" class="text-danger">Create</a>
                  </div>
               
                </form>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
      <script src="/js/vendor/vendor.bundle.base.js"></script>
    <script src="/js/vendor/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/js/dashboard.js"></script>
    <!-- End custom js for this page-->

    <!-- endinject -->
  </body>
</html> 