<div class="main-page">
  <!-- Start Header -->
  <header
    class="header-area formobile-menu header--transparent black-logo-version"
  >
    <div class="header-wrapper" id="header-wrapper">
      <div class="header-left">
        <div class="logo-container">
          <a href="/">
            <!-- Put the Logo here -->
            <img src="/images/logo/redBeltSmall.png" alt="Red Belt logo" />
          </a>
        </div>
      </div>
      <div class="header-right">
        <div class="mainmenunav d-lg-block">
          <!-- Start Mainmanu Nav -->
          <nav class="main-menu-navbar">
            <ul class="mainmenu">
              <li>
                <a href="/">Home</a>
              </li>
              <% if(login){ %>
              <li>
                <a href="/dashboard">Dashboard</a>
              </li>
              <% } %> <% if(!login){ %>
              <li class>
                <a href="#services" class="smoth-animation">Log In/Sign Up</a>
              </li>
              <% } %>

              <li class="has-dropdown">
                <a href="#services" class="smoth-animation">Services</a>
              </li>
              <li>
                <a href="#about" class="smoth-animation">About</a>
              </li>

              <li>
                <a href="#contact" class="smoth-animation">Contact Us</a>
              </li>
              <% if(login){ %>
              <li class>
                <a href="/users/LogOut">LogOut</a>
              </li>
              <% } %>
            </ul>
          </nav>
          <!-- End Mainmanu Nav -->
        </div>

        <!-- Start Humberger Menu  -->
        <div class="humberger-menu d-block d-lg-none pl--20">
          <span class="menutrigger text-white">
            <i data-feather="menu"></i>
          </span>
        </div>
        <!-- End Humberger Menu  -->
        <!-- Start Close Menu  -->
        <div class="close-menu d-block d-lg-none">
          <span class="closeTrigger">
            <i data-feather="x"></i>
          </span>
        </div>
        <!-- End Close Menu  -->
      </div>
    </div>
  </header>

  <div
    class="breadcrumb-area rn-bg-color ptb--120 bg_image bg_image--1"
    data-black-overlay="6"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-inner pt--100 pt_sm--40 pt_md--50">
            <h2 class="title">Terms and Conditions</h2>
            <ul class="page-list">
              <li><a href="/">Home</a></li>
              <li class="current-page">T & A</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrump Area  -->
  <main class="page-wrapper">
    <!-- Start blog Area  -->
    <div class="rn-blog-area rn-section-gap bg_color--1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title section-title--2 text-left">
              <ul>
                <li>When you register at Red Belt Academy - ETM (E-Tournament Manager) we ask for information necessary and relevant to provide proper use of the Service under the context of which you are registering, such as your name, email address, billing address, credit card information.</li> <br> <li> This information will be collected and maybe performed directly by the Service or through third-party integrations, such as financial information.</li>
               <br> <li> The the applicant will be governed by the terms and conditions as published in the prospectus and in particular about the payment of application fee through the Online Application procedure . </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
 <!-- End Page Wrapper  -->
 <footer class="footer-area footer-default">
  <div class="footer-wrapper">
    <div class="row align-items-end row--0">
      <div class="col-lg-6">
        <div class="footer-left">
          <div class="inner">
            <span>Ready To Do This</span>
            <h2>
              Let's get <br />
              to work
            </h2>
           
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-right" data-black-overlay="6">
          <div class="row">
            <!-- Start Single Widget -->
            <!-- Start Single Widget -->
            <div class="col-lg-12 col-sm-6 col-12 mt_mobile--30">
              <div class="footer-widget">
                <h4>Say Hello</h4>
                <ul class="ft-link">
                  <li>
                    <i class="fas fa-at mr-2" style="color:ivory"></i>
                    <a href="mailto:redbeltacademy@gmail.com">redbeltacademy@gmail.com</a>
                  </li>
                  <li>
                    <i class="fas fa-map-marker-alt mr-2" style="color: ivory;"></i>
                   <a href="http://" target="_blank" rel="noopener noreferrer">70/59, First Floor, Rani Mandi, Chowk, Prayagraj. Uttar Pradesh. 211003</a>
                  </li>
                  <li>
                    <i class="fas fa-mobile mr-2" style="color: ivory;"></i>
                    <a href="http://" target="_blank" rel="noopener noreferrer">+91 7897299014</a>
                   </li>
                </ul>

                <div class="social-share-inner">
                  <ul
                    class="social-share social-style--2 d-flex justify-content-start liststyle mt--15"
                  >
                    <li>
                      <a href="https://www.facebook.com/RedBeltAcademy/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/academyredbelt/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram-square"></i></a>
                    </li>
                  </ul>
                </div>
                <ul class="ft-link mt-3">
                  <li >
                    <a href="/termsandconditions" style="color: aqua;">terms & conditions</a>
                  </li>
                  <li >
                      <a href="/privacypolicy" style="color: aqua;">Privacy Policy</a>
                  </li>
                  <li >
                    <a href="/help" style="color: aqua;">Help</a>
                </li>
                </ul>
              </div>
            </div>
            <!-- End Single Widget  -->

            <div class="col-lg-12">
              <div class="copyright-text">
                <% date=new Date() %>
                <p class="small text-gray-600 text-center text-sm-left">
                  <%= date.getFullYear() %> Designed by Abdemirza . All rights
                  reserved . <br />
               <a style="color: ivory;" href="https://api.whatsapp.com/send?phone=919125884058"><i class="fab fa-whatsapp mr-2 fa-lg"></i>Get in touch on Whatsapp</a> <br>
               <a style="color: ivory;"  href="mailto:abdemirza@gmail.com"><i class="far fa-envelope mr-2 fa-lg"></i>Drop an email </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
